# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#DS_Store files
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/


# Pycharm project
.idea/
